<html>
<head>
  <link href="../libs/css/jquery-ui-1.10.4.custom.min.css" media="screen" rel="stylesheet">
  <link href="../libs/css/jquery.multiselect.css" rel="stylesheet">
</head>
<body>
  <select id="intervalInput" name="intervalInput" multiple>
    <option value="week">Week</option>
    <option value="month">Month</option>
    <option value="year">Year</option>
  </select>
</body>
<script type="text/javascript" src="../libs/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../libs/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="../libs/js/jquery.multiselect.min.js"></script>
<script type="text/javascript" src="../js/checkbox.js"></script>
</html>